<section class="container p-2" *ngIf="studentsList.length > 0; else noStudents">
  <h1 class="fs-1">STUDENTS</h1>
  <input type="text" class="w-100 my-3 text-center p-3" placeholder="Search" [(ngModel)]="searchedKey">
  <div class="container-fluid">
    <div class="row fw-bold text-secondary p-3">
      <div class="col-4 col-md-3 d-flex align-items-center">NAME</div>
      <div class="col-3 d-none d-md-flex align-items-center">EMAIL</div>
      <div class="col-4 col-md-3 d-flex align-items-center">VIEW PROFILE</div>
      <div class="col-4 col-md-3 d-flex align-items-center"></div>
    </div>
    <ng-container *ngIf="(studentsList | search:searchedKey).length > 0; else noResults">
      <div class="row fw-bold p-3 students" *ngFor="let student of studentsList | search:searchedKey">
        <div class="col-4 col-md-3 d-flex align-items-center">{{student.name}} {{student.surname}}</div>
        <div class="col-3 d-none d-md-flex align-items-center">{{student.email}}</div>
        <div class="col-4 col-md-3 d-flex align-items-center">
          <button type="button" class="profile-btn" (click)="selectStudent(student)">VIEW PROFILE</button>
        </div>
        <div class="col-4 col-md-3 d-flex justify-content-end">
          <button type="button" class="btn btn-danger" (click)="deleteStudent(student)">Delete</button>
        </div>
      </div>
    </ng-container>
  </div>
</section>
<ng-template #noStudents>
  <p class="fs-2 fw-bold text-center mt-2">No Students in Database. Please Add one</p>
</ng-template>
<ng-template #noResults>
  <div class="row fw-bold text-secondary p-3">
    <div class="col-12 d-flex align-items-center">
      <p class="text-center">No Results</p>
    </div>
  </div>
</ng-template>
